{% extends 'base.html'%}
{% load static from staticfiles %}

{% block content%}
    <div id="form_sect">
        <h1><b>Add Schedule</b></h1>
        <div class="form_container d-flex">
            <form class="form_schedule" action="{% url 'schedule:schedule' %}" method="POST">
                {% csrf_token %}
                <table>
                    <tr>
                        {{form}}
                    </tr>
                </table>
                <div class="create_button d-flex">
                    <input type="submit" value="Create Schedule">
                </div>
            </form>
        </div>
    </div>
    <div id="schedule_sect">
        <div class="container-fluid">
            <div class="header">
                <h1><b>My Schedule</b></h1>
            </div>
            <div class="schedule_content d-flex flex-wrap">
                {% for schedule in models %}
                    <div class="schedule_box">
                        <div class=schedule_title>
                            <h1><b>{{schedule.nama_kegiatan}}</b></h1>
                        </div>
                        <p>Place: {{schedule.tempat}}</p>
                        <p>Category: {{schedule.kategori}}</p>
                        <p>Date: {{schedule.tanggal}} </p>
                        <p>Time: {{schedule.jam}}</p>
                        <p>Day: {{schedule.hari}}</p>
                        <div class="d-flex justify-content-center">
                            <a href="{% url 'schedule:delete' id=schedule.id %} #schedule_sect">
                                <div class="button_delete">
                                    <h1><b>Delete</b></h1>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}