html {
    scroll-behavior: smooth;
    scroll-padding: 8vh;
}

body {
    margin: 0vw;
    background-color: #f7f7f7;
}

@font-face {
    font-family: "Arca Majora 3";
    src: url("ArcaMajora3-Bold.otf");
}

.navbar {
    background-color: #2F4E73;
}

.navbar-brand {
    padding: 0vw!important;
}

.navbar-brand img {
    width: 42px;
    height: 42px;
}

.navbar-toggler{
    background-color: #f7f7f7!important;
}

.navbar-toggler i{
    color: #2F4E73;
}

.nav-link {
    font-family: "Raleway";
    color: #f7f7f7!important;
    opacity: 0.7;
    transition: 0.4s;
}

.nav-link:hover {
    opacity: 1;
}

#home_sect {
    background-color: #72A5D3;
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    align-items: center;
    padding: 0vw;
    margin-bottom: 12vw;
}

#home_sect img {
    min-height: 360px;
    min-width: 360px;
    width: 360px;   
    flex: 3;
}

.welcome {
    flex: 5;
    padding-top: 0vw;
    padding-bottom: 0vw;
    text-align: center;
}

.welcome h1 {
    font-family: "Arca Majora 3";
    font-size: 64px;
    color: #f7f7f7;
}

.welcome h2 {
    font-family: "Arca Majora 3";
    font-size: 36px;
    color: #f7f7f7;
}

.welcome h3 {
    font-family: "Arca Majora 3";
    font-size: 36px;
    color: #f7f7f7;
}

.button_up {
    background-color: #f7f7f7;
    color: #2F4E73;
    padding: 0vw;
    min-width: 48px;
    bottom: 2vw;
    right: 2vw;
    text-align: center;
    font-size: 24px;
    border-radius: 50%;
    border: 2px solid #2F4E73;
    transition: 0.4s;
}

.button_up i {
    line-height: 44px;  
}

.button_up:hover {
    background-color: #2F4E73;
    color: #f7f7f7;
}
#AboutMe_sect {
    margin-top: 12vw;
    margin-left: 10vw;
    margin-right: 10vw;
    padding-top: 6vw;
}

.photocard {
    width: 290px;
    border-radius: 16px;    
    box-shadow: 0px 0px 12px #9c9c9c;
    margin: 0vw 1vw;
}

.photocard img {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.photocard h2 {
    font-size: 24px;
    font-family: "Nunito";
    margin: 1vw 1.8vw;
}

.photocard h4 {
    font-size: 14px;
    font-family: "Nunito";
    margin: 0vw 1.8vw 0.4vw 1.8vw;
}

.photocard h5 {
    font-size: 14px;
    font-family: "Nunito";
    margin: 0vw 1.8vw 2.4vw 1.8vw;
}

.aboutme {
    flex: 2;
    text-align: justify;
    margin: 0vw 1vw;
}

.aboutme h1{
    font-size: 28px;
    font-family: "Raleway";
    color: #72A5D3;
    margin-top: 4vw;
}

.aboutme p{
    font-family: "Nunito";
    color: #323232;
}

.button_porto {
    border-radius: 8px;
    padding: 0.5vw 0.2vw;
    background-color:#72A5D3; 
    max-width: 200px;
    margin-bottom: 4vw;
    transition: 0.4s;
}

.button_porto h1 {
    font-family: "Nunito";
    color: #f7f7f7;
    font-size: 20px;
    margin: 0.2vw 0vw;
    text-align: center; 
}

.button_porto:hover {
    background-color: #2F4E73;
}

#Education_sect {
    margin-top: 12vw;
    background-color: #2F4E73;
    padding-top: 6vw;
    padding-bottom: 10vw;
}

#Education_sect .header {
    margin-left: 10vw;
    margin-right: 10vw;
    background-color: #f7f7f7;
    border-radius: 12px;
    padding: 0.2vw 0vw;       
}

#Education_sect .header h1 {
    font-size: 28px;
    font-family: "Raleway";
    color: #2F4E73;
    margin: 0vw;
}

.education_content {
    margin-left: 14vw;
    margin-right: 14vw;
    text-align: justify;
}

.education_content h2 {
    font-family: "Raleway";
    font-size: 28px;
    color: #B1D3E3;
    margin-top: 4vw;
    margin-bottom: 1.2vw;
}

.education_content h3 {
    font-family: "Nunito";
    font-style: italic;
    font-size: 18px;
    color:#f7f7f7;
}

.education_content p{
    font-family: "Nunito";
    color: #f7f7f7;
}

#Experiences_sect {
    padding-top: 6vw;
    padding-bottom: 4vw;
}

.header {
    margin-left: 10vw;
    margin-right: 10vw;
    background-color: #72A5D3;
    border-radius: 12px;
    text-align: center;   
    padding: 0.2vw 0vw;       
}

.header h1 {
    font-size: 28px;
    font-family: "Raleway";
    color: #f7f7f7;
    margin: 0px;
}

.experiences_content {
    margin-left: 12vw;
    margin-right: 12vw;
    margin-top: 4vw;
}

.logo_box {
    background-color: #f7f7f7;
    border-radius: 16px;
    box-shadow: 0px 0px 12px #9c9c9c;
    padding: 1vw;   
    max-width: 180px;
    margin: 0vw 2vw;
}

.logo_box img {
    width: 160px;
    height: 160px;
}

.logo_desc {
    flex: 3;
    margin: 0vw 2vw;
    text-align: justify;
}

.logo_desc h2 {
    font-family: "Raleway";
    color: #2F4E73;
    font-size: 28px;
    margin-bottom: 1vw;
    margin-top: 1.6vw;
}

.logo_desc h3 {
    font-family: "Nunito";
    font-style: italic;
    color: #72A5D3;
    font-size: 18px;
}

.logo_desc p {
    font-family: "Nunito";
    color: #323232;
    margin-bottom: 1.6vw;
}

#Skills_sect {
    padding-top: 6vw;
    padding-bottom: 4vw;
}

.skills_content {
    margin-left: 12vw;
    margin-right: 12vw;
}

.skill_box {
    min-width: 150px;
    min-height: 200px;
    background-color: #f7f7f7;
    border-radius: 16px;
    box-shadow: 0px 0px 12px #9c9c9c;
    text-align: center;
    padding: 1vw 0vw 2vw 0vw;
    margin: 4vw 2vw 0vw 2vw;
    transition: 0.4s;
}

.skill_box h1 {
    font-family: "Nunito";
    font-size: 20px;
    color: #72A5D3;
}

.skill_box img {
    height: 90px;
}

#Connect_sect {
    padding-top: 4vw;
    padding-bottom: 4vw;
    background-color: #72A5D3;
    text-align: center;
}

.connect_content h1{
    font-family: "Raleway";
    font-size: 24px;
    color: #2F4E73;
} 

.connect_content h2{
    font-family: "Raleway";
    font-size: 16px;
    color: #2F4E73;
    margin-top: 2vw;
} 

.icon i {
    font-size: 32px;
    color: #2F4E73;
    margin: 1vw 1.5vw;
    transition: 0.4s;
}

.icon i:hover {
    color: #f7f7f7;
    transform: scale(1.5);
}

#Portofolio_sect {
    padding-top: 6vw;
    padding-bottom: 8vw;
}

.portofolio_content {
    margin-left: 12vw;
    margin-right: 12vw;
}

.porto_col {
    margin: 0vw 4vw;;
}

.porto_col img {
    max-width: 180px;
    min-width: 80px;
    margin-top: 4vw;
    box-shadow: 0px 0px 12px #9c9c9c;
    transition: 0.4s;
}

.porto_col img:hover {
    transform: scale(1.4);
}

.aboutme a {
    text-decoration: none!important;
}

@media (max-width: 767.98px) { 
    .welcome h1 {font-size: 48px;}
    .welcome h2 {font-size: 28px;}
    .welcome h3 {font-size: 28px;}
    .aboutme {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .button_porto {
        padding: 0.5vw 2vw;
    }
    .photocard h2 {
        font-size: 20px;
        margin: 1.6vw 2vw;
    }
    .photocard h4 {
        margin: 0vw 2vw 0.6vw 2vw;
    }
    .photocard h5 {
        margin: 0vw 2vw 2.8vw 2vw;
    }
    #Education_sect {
        padding-top: 24vw;
    }
    .college, .high_school {margin-top: 8vw;}
    .education_content {
        text-align: center;
        text-align-last: center;
    }
    #Experiences_sect {
        padding-top: 24vw;
    }
    .experiences_content {
        margin-top: 8vw;
        text-align: center;
        text-align-last: center;
    }
    .experiences_content h2 {
        margin-top: 2.4vw;
    }
    #Skills_sect {
        padding-top: 24vw;
        padding-bottom: 8vw;
    }
    .skill_box {
        min-height: 180px;
        margin: 8vw 2vw 0vw 2vw;
        padding: 2vw 0vw 3vw 0vw;
    }
    .button_up {
        bottom: 4vw;
        right: 4vw;
    }
}   

#form_sect {
    padding-top: 4vw;
    padding-bottom: 4vw;
}

#form_sect h1{
    text-align: center;
    font-family: "Raleway";
    color: #72A5D3;
    font-size: 28px;
}

.form_container {
    justify-content: center;
    margin-left: 4vw;
    margin-right: 4vw;
}

.form_schedule {
    margin-top: 1vw;
    background-color: #f7f7f7;
    padding: 2vw;
    color: #72A5D3;
    border-radius: 20px;
    box-shadow: 0px 0px 12px #9c9c9c;
    font-family: "Nunito"
}

.create_button {
    margin-top: 2vw;
    justify-content: center;
}

input[type=submit] {
    border-radius: 4px;
    border: none;
    padding: 0.6vw;
    background-color: #72A5D3;
    font-family: "Nunito";
    color: #f7f7f7;
    font-weight: bold;
}

input[type=text], input[type=date], input[type=time] {
    padding: 0.2vw 0.2vw;
    margin: 0.2vw 0.1vw;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.schedule_content {
    justify-content: center;
    margin-left: 12vw;
    margin-right: 12vw;
}

#schedule_sect {
    padding-top: 4vw;
    padding-bottom: 8vw;
}

.schedule_box {
    margin-top: 4vw;
    border-radius: 16px;
    background-color: #72A5D3;
    padding: 2vw;
    margin-left: 2vw;
    margin-right: 2vw;
}

.schedule_box h1 {
    font-size: 24px;
    color: #f7f7f7;
    font-family: "Nunito";
    text-align: center;
}
.schedule_box p {
    margin: 0.4vw;
    font-family: "Nunito";
    color: #f7f7f7;
}

.schedule_title {
    border-radius: 8px;
    background-color:#f7f7f7; 
    transition: 0.4s;
}

.schedule_title h1 {
    color: #72A5D3;
}

.button_delete {
    border-radius: 8px;
    background-color:#2F4E73; 
    transition: 0.4s;
    max-width: 100px; 
    padding: 0.2vw 0.4vw; 
    margin-top: 1vw;   
}

.button_delete h1 {
    margin: 0vw;
    font-size: 20px;
}

