{% extends 'base.html'%}
{% load static from staticfiles %}

{% block content%}
  <div id="home_sect">
      <div class="welcome">
          <h2><br>Hi, I'm</h2>
          <h1>Jonathan Chandra</h1>
          <h3><br>Welcome to My Website!<br></h3>
      </div>
        <img src="{% static '\photo\Jocan1.png' %}" class="img-fluid">
  </div>
  <div id="AboutMe_sect">
    <div class="container-fluid d-flex flex-wrap justify-content-between align-items-center">
      <div class="photocard">
        <img src="{% static '\photo\Jocan2.svg' %}" class="img-fluid">
        <h2><b>Jonathan Chandra</b></h2>
        <h4>NPM: 1806204985</h4>
        <h4>University: Universitas Indonesia</h4>
        <h5>E-mail: jonathan.chndr15@gmail.com</h5>
      </div>
      <div class="aboutme">
        <h1><b>About Me</b></h1>
        <p>I'm currently a student majoring in ComputerScience at the Faculty of Computer Science of Universitas Indonesia. Lately, I've been active in several committees and I also currently a staff of the Media Bureau of Student Executive Board at my faculty.
        <br><br>I love to design and sometimes I design or edit some photos just to make people smile. I also love to play badminton since I was in elementary school. Of course, my favorite color is blue as you can see from this website.</p>
        <a href="{% url 'portofolio' %}" target="_self">
          <div class="button_porto">
            <h1><b>View my portofolio</b></h1>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div id="Education_sect">
    <div class="container-fluid">
      <div class="header">
        <h1><b>Education</b></h1>
      </div>
      <div class="education_content">
        <div class="college">
          <h2><b>Universitas Indonesia</b></h2>
          <h3>Majoring Degree of Computer Science (July 2018 - Present)</h3>
          <p>Learned some programming language such as Python and Java.</p>
        </div>
        <div class="high_school">
          <h2><b>Budi Mulia High School Jakarta</b></h2>
          <h3>Majoring in Science (2015 - 2018)</h3>
          <p>Learn about organization by becoming staff of student council (2015 - 2016) and second vice president of student council (2016-2017).</p>
        </div>
      </div>
    </div>
  </div>
  <div id="Experiences_sect">
    <div class="container-fluid">
      <div class="header">
        <h1><b>Experiences</b></h1>
      </div>
      <div class="experiences_content d-flex flex-wrap justify-content-center align-items-center">
        <div class="logo_box d-flex justify-content-center">
          <img src="{% static '\logo\logobem.svg' %}">
        </div>
        <div class="logo_desc">
          <h2><b>BEM Fasilkom UI</b></h2>
          <h3>Staff of Media Bureau (February 2019 - Present)</h3>
          <p>Design posters for social media publication of BEM Fakultas Ilmu Komputer Universitas Indonesia.</p>
        </div>
      </div>
      <div class="experiences_content d-flex flex-wrap justify-content-center align-items-center">
        <div class="logo_box d-flex justify-content-center">
          <img src="{% static '\logo\logocf.svg' %}">
        </div>
        <div class="logo_desc">
          <h2><b>COMPFEST XI</b></h2>
          <h3>Staff of Playground (March 2019 - Present)</h3>
          <p>Search and invite startups to join in Main Event COMPFEST at Playground as an exhibitor.</p>
        </div>
      </div>
    </div>
  </div>
  <div id="Skills_sect">
    <div class="container-fluid">
      <div class="header">
        <h1><b>Skills</b></h1>
      </div>
      <div class="skills_content d-flex flex-wrap justify-content-center">
        <div class="skill_box d-flex flex-column justify-content-between">
          <h1><b>HTML5</b></h1>
          <img src="{% static '\logo\html5.svg' %}">
        </div>
        <div class="skill_box d-flex flex-column justify-content-between">
          <h1><b>CSS3</b></h1>
          <img src="{% static '\logo\css3.svg' %}">
        </div>
        <div class="skill_box d-flex flex-column justify-content-between">
          <h1><b>Java</b></h1>
          <img src="{% static '\logo\java.svg' %}">
        </div>
        <div class="skill_box d-flex flex-column justify-content-between">
          <h1><b>Python</b></h1>
          <img src="{% static '\logo\python.svg' %}">
        </div>
        <div class="skill_box d-flex flex-column justify-content-between">
          <h1><b>Adobe<br>Illustrator</b></h1>
          <img src="{% static '\logo\ai.svg' %}">
        </div>
        <div class="skill_box d-flex flex-column justify-content-between">
          <h1><b>Figma</b></h1>
          <img src="{% static '\logo\figma.svg' %}">
        </div>
      </div>
    </div>
  </div>
  <div id="Connect_sect">
    <div class="connect_content container-fluid d-flex flex-column justify-content-center">
      <h1><b>Connect with Me:</b></h1>
      <div class="icon d-flex justify-content-center">
        <a href="https://www.instagram.com/jonathanchandra15/" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.linkedin.com/in/jonathan-15/" target="_blank">
          <i class="fab fa-linkedin"></i>
        </a>
      </div>
      <h2>"It's through mistakes that you actually can grow. You have to get bad in order to get good."
        <br>-Paula Scher</h2>
    </div>
  </div>
{% endblock %}